@model SIGE.Models.PeriodoEvaluacion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PeriodoEvaluacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EvaluacionFK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvaluacionFK.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodoFK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodoFK.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CodPeriodoEvaluacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
